<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Infy Family</title>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href='stylesheets/style.css'/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
	</head>
	<body>
		
		<%include header.html%>

		<p>
			Hi everyone, these are just some web pages that I am trying to develop.<br/>
			My next step is to implement oAuth and create a chat server using Socket.IO <br/>
			You can find my source code on <a href="https://github.com/thejaswinipathi/infyfamily">https://github.com/thejaswinipathi/infyfamily</a><br/>
			I have deployed my app on heroku, for free, and it has a down time of 6 hours.<br/>
			Any suggestions, please mail me at thejaswini@infyfamily.com.
		</p>	
	</body>
</html>